@myFont:"Microsoft YaHei","PingFang SC","Hiragino Sans GB";
@myFontSans:sans-serif;

// 主题色 - #10A25B 酷安绿      #008080 水鸭青
@mainColor: #10A25B;
@tealGreen: #008080;
// 白烟色边框
@whiteSmoke: #F5F5F5;
// 深灰色字体颜色
@darkGray: #A9A9A9;
// 灰色字体颜色
@hexColor: #666666;

page{
  font-family:@myFont,@myFontSans;
  font-size: 28rpx;
}

.mainColor {
  color: @mainColor
}
.whiteSmoke {
  color: @whiteSmoke
}
.darkGray {
  color: @darkGray
}
.grayColor {
  color: #808080
}
.hexColor {
  color: @hexColor
}

.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}

.b-color {
  background: #fff;
}

.ft-26 {
  font-size: 26rpx;
}
.ft-28 {
  font-size: 28rpx;
}
.ft-30 {
  font-size: 30rpx;
}
.ft-32 {
  font-size: 32rpx;
}
.ft-34 {
  font-size: 34rpx;
}
.ft-36 {
  font-size: 36rpx;
}
.ft-38 {
  font-size: 38rpx;
}
.ft-40 {
  font-size: 40rpx;
}
.ft-42 {
  font-size: 42rpx;
}
