@myFont:"Microsoft YaHei","PingFang SC","Hiragino Sans GB";
@myFontSans:sans-serif;

// 主题色 - #10A25B 酷安绿      #008080 水鸭青
@mainColor: #10A25B;
@tealGreen: #008080;
// 白烟色边框
@whiteSmoke: #F5F5F5;
// 深灰色字体颜色
@darkGray: #A9A9A9;
// 灰色字体颜色
@hexColor: #666666;

page{
  font-family: @myFont, @myFontSans;
  font-size: 28rpx;
}

.mainColor {
  color: @mainColor
}
.whiteSmoke {
  color: @whiteSmoke
}
.darkGray {
  color: @darkGray
}
.grayColor {
  color: #808080
}
.hexColor {
  color: @hexColor
}

.tc {
  text-align: center;
}

.b-color {
  background: #fff;
}

.ft-26 {
  font-size: 26rpx;
}


//switch开关的样式
.wx-switch-input{ width:42px !important;height:20px !important; }
.wx-switch-input::before{ width:41px !important;height: 20px !important; }
.wx-switch-input::after{ width: 20px !important;height: 18px !important; }//中间小圆球
